@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'CMU Serif', ui-serif, serif;
    @apply bg-yellow-50;
    @apply text-gray-800;
  }

  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-xl;
  }

  p,
  a,
  li,
  address {
    @apply text-xl;
  }

  header a {
    @apply text-gray-100;
    @apply hover:text-gray-900;
    @apply hover:bg-gray-100;
    @apply no-underline;
  }

  a {
    @apply text-blue-900;
    @apply hover:text-gray-100;
    @apply hover:bg-blue-900;
    @apply underline;
  }

  #overlay-y-axis {
    display: flex;
    position: fixed;
    width: 100%;
    height: calc(100vh - 75px);
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    z-index: 2;
    cursor: pointer;
    animation: overlayHorizontal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  }

  #overlay-x-axis {
    display: flex;
    position: fixed;
    width: calc(100vw - 120px);
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: 2;
    cursor: pointer;
    animation: overlayVertical;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  }

  #x-axis-bar rect {
    animation: expandXAxis;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  #arrow-right {
    animation: moveArrowRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    margin-left: -5px; /* compensate for left horizontal space */
  }

  #x-label {
    animation: moveXLabel;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes expandXAxis {
    from {
      width: 30px;
    }
    to {
      width: calc(
        100vw - 46.03px
      ); /* view width - arrow right (24px) + horizontal space (5px) + x label (22.03px) + horizontal space (5px) */
    }
  }

  @keyframes moveArrowRight {
    from {
      left: 30px;
    }
    to {
      left: calc(100vw - 46.03px);
    }
  }

  @keyframes moveXLabel {
    from {
      left: 54px;
    }
    to {
      left: calc(
        100vw - 27.03px
      ); /* view width - horizontal space (5px) + x label (22.03px) + horizontal space (5px) */
    }
  }

  #y-label {
    animation: moveYLabel;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  #arrow-up {
    animation: moveArrowUp;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  #y-axis-bar rect {
    animation: expandYAxis;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes moveYLabel {
    from {
      bottom: 51.16px; /* bar (30px) + arrow up (16.16px) + vertical space (5px) */
    }
    to {
      bottom: calc(
        100vh - 34.27px
      ); /* view height - vertical space (5px) + y label (29.27px) */
    }
  }

  @keyframes moveArrowUp {
    from {
      bottom: 30px; /* bar (30px) */
    }
    to {
      bottom: calc(
        100vh - 55.43px
      ); /* view height - vertical space (5px) + y label (29.27px) + vertical space (5px) + arrow up (16.16px) */
    }
  }

  @keyframes expandYAxis {
    from {
      height: 30px;
    }
    to {
      height: calc(
        100vh - 55.43px
      ); /* view height - vertical space (5px) + y label (29.27px) + vertical space (5px) + arrow up (16.16px) */
    }
  }

  @keyframes overlayVertical {
    from {
      width: calc(100vw - 120px);
    }
    to {
      width: 0px;
    }
  }

  @keyframes overlayHorizontal {
    from {
      height: calc(100vh - 75px);
    }
    to {
      height: 0px;
    }
  }
}
