@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'CMU Serif', ui-serif, serif;
    @apply bg-yellow-50;
    @apply text-gray-800;
  }

  h1 {
    @apply text-4xl;
    @apply font-bold;
  }
  h2 {
    @apply text-3xl;
    @apply font-bold;
  }
  h3 {
    @apply text-2xl;
    @apply font-bold;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-xl;
  }
  h6 {
    @apply text-xl;
  }

  p,
  a,
  li,
  address {
    @apply text-xl;
  }

  header a {
    @apply text-gray-100;
    @apply hover:text-gray-900;
    @apply hover:bg-gray-100;
    @apply no-underline;
  }

  a {
    @apply text-blue-900;
    @apply hover:text-gray-100;
    @apply hover:bg-blue-900;
    @apply underline;
  }

  #overlay-2 {
    display:flex;
    position: fixed;
    width: 100%;
    height: calc( 100vh - 75px );
    top: 0;
    left: 0;
    right: 0;
    background-color:black;
    z-index: 2;
    cursor: pointer;
    animation: overlayHorizontal;
    animation-duration:3s;
    animation-fill-mode: forwards;
  }

  #overlay-1 {
    display:flex;
    position: fixed;
    width: calc( 100vw - 120px );
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    background-color:black;
    z-index: 2;
    cursor: pointer;
    animation: overlayVertical;
    animation-duration:3s;
    animation-fill-mode: forwards;
  }

  #move-y {
    animation: moveY;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  #expand-right {
    margin-bottom: 5px;
    animation: expandRight;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  #move-right {
    animation: moveRight;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  #move-right-x {
    animation: moveRightX;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  #arrow-up {
    animation: moveUP;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  #expand-up {
    animation: expandUp;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  @keyframes moveRight {
    from { left: 0vw; bottom: 3px; }
    to { left: calc(100vw - 65px); bottom: 3px; }
  }

  @keyframes moveRightX {
    from { left: 3vw; bottom: 2px;}
    to { left: calc(100vw - 35px); bottom: 2px; }
  }

  @Keyframes expandRight {
    from { width: 30px; bottom: 10px; }
    to { width: calc(100vw - 60px); bottom: 10px;}
  }

  @keyframes moveUP {
    from { bottom: 3vh;left: -3px; }
    to { bottom: calc(100vh - 50px); left: -3px; }
  }

  @keyframes expandUp{
    from { height: 30px; left:5px; }
    to { height: calc(100vh - 47px); left:5px; }
  }

  @keyframes moveY{
    from { top: 0px;left: -2px; }
    to { top: calc(100vh - 30px); left:-2px; }
  }

  @keyframes overlayVertical {
  from { width: calc( 100vw - 120px ); }
  to { width: 0px;}
  }

  @keyframes overlayHorizontal {
    from { height: calc( 100vh - 75px ); }
    to { height: 0px;}
    }
}
